
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
$codeBG: #eee;
body {
  overflow-x: hidden;
}
#app {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
  min-height: calc(100vh - 56px);
  [class*="__view"] {
    padding-top: 4em;
  }
}
strong {
  font-weight: 600;
}
.markdown__editor {
  height: auto !important;
  .markdown__editor-content textarea {
    height: 15rem;
    resize: none;
    border-radius: 4px;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  .markdown__editor-preview.markdown-body {
    border: 1px solid #bdbdbd5e;
    width: 100% !important;
    padding: 0 1rem;
    border-radius: 4px;
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 2.2em;
    }
    h3 {
      font-size: 2em;
    }
    h4 {
      font-size: 1.8em;
    }
    p:last-child {
      margin-bottom: 1em;
    }
    pre {
      background: $codeBG;
    }
    code {
      background: $codeBG;
      padding: 0px 4px;
    }
    strong {
      font-weight: 600;
    }
    ul li {
      list-style-type: disc;
      margin-left: 1.5em;
      ul li {
        list-style-type: circle;
      }
    }
  }
}
.VueCarousel-pagination {
  display: none !important;
}